data/
__pycache__/
*.pyc
.Rhistory
.ipynb_checkpoints/
logs/

# copyrighted primary texts kept locally for the essay
wikipedia_role/sources/primary_texts/*.pdf
wikipedia_role/sources/primary_texts/*.epub
wikipedia_role/sources/primary_texts/*.djvu
